{% extends 'base-login.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
 


 <style>
            body {
              background-image: url('assets/img/fond.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }


        .custom-file-label::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            font-weight: 600;
            padding: 0.375rem 0.75rem;
            line-height: 1.5;
            color: #035EFF;
            content: "Importer";
            background-color: #EDF3FE;
            border-left: inherit;
            border-radius: 0 0.25rem 0.25rem 0;
          }

        </style>





       <!--==============Container==================--> 

      <div class="container-fluid mx-auto  py-2 px-5">




<div class=" row">
    <div class="col-0 col-md-8">
        <img src="back-office/img/logob.png" class="size-logo mt-0" alt="">
    </div>
    <div class="mt-3 col-8 col-md-3">

     <p style="margin-top:13px; color:#f36100;" class=" float-right mr-5 blue align-middle" >Vous avez un compte ?</p>
    </div>
    <div class=" mt-3 col-4 col-md-1">
        <a   style="background-color: #f36100; color:white;"class="float-right btn nav-link mx-2 my-1 btn-signin" href="/login"><div class="text-white">Se connecter</div></a>
    </div>
</div>


<div class="row mt-3">

    <div class="col-0 col-md-3">

    </div>

    <div class="col-12 col-md-6">
        <div style="border:none;" class="card shadow-lg">
    
    <div class="card-body">
        <div class="card-title">
            <h1   style="color:black;"class=" blue mb-4 mt-4 text-center card-title">S'enregistrer</h1>
        </div>
    {{ form_start(registrationForm) }}
    <div class="mx-4">

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form__div  mb-3">
            <label  style="color:black;" for="" class="blue">Nom</label>
             {{ form_widget(registrationForm.nom,{'attr':{'class':' form-control '}}) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div style="color:black;" class="form__div mb-3">
            <label  style="color:black;" for="" class="blue">Prénom</label>
          {{ form_widget(registrationForm.prenom,{'attr':{'class':' form-control '}}) }}
        </div>
    </div>

    
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
                        <div class="form-group">
        <label style="color:black;"  class="blue" for="exampleFormControlSelect1">poids</label>
         {{ form_widget(registrationForm.poid,{'attr':{'class':' form-control '}}) }}
      </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label  style="color:black;" class="blue" for="exampleFormControlSelect1">Taille</label>
                {{ form_widget(registrationForm.taille,{'attr':{'class':' form-control '}}) }}
              </div>
        </div>
        
        </div>


    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form__div  mb-3">
                <label  style="color:black;" for="" class="blue">Adresse E-mail</label>
                 {{ form_widget(registrationForm.email,{'attr':{'class':' form-control '}}) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form__div  mb-3">
                <label style="color:black;" for="" class="blue">Mot de passe</label>
              {{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
       
            </div>
        </div>
        
    </div>

        <div class="row">

            <div class="col-12 col-md-6">
                <div class="form__div mb-3">
                    <label  style="color:black;" for="" class="blue">sexe</label>
                   {{ form_widget(registrationForm.sexe,{'attr':{'class':' form-control '}}) }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label  style="color:black;" for="" class="blue">Photo de profil</label>
                <div class="custom-file">
                  {{ form_widget(registrationForm.imageFile,{'attr':{'class':' custom-file-input '}} ) }}
                  <label class="custom-file-label" for="customFile">Importer une photo</label>
                
                </div>
            </div>
<div class="col-12 col-md-6">
                <label  style="color:black;" for="" class="blue">Captcha</label>
                <div class="custom-file">
                   {{ form_widget(registrationForm.captchaCode) }}
                  
                
                </div>
            </div>
            
        </div>


        

        <div>
        <input style="background-color: #f36100; color:white;" type="submit" class="width-sub py-2 mt-4 btn btn-blue mb-4" value="S'enregistrer">
         
        </div>
    </div>






  {{ form_end(registrationForm) }}
    </div>
        </div>

    </div>

    <div class="col-0 col-md-4">

    </div>


</div>






 


<!--=======================1=============================-->
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
  </script>
  

      </div>
{% endblock %}
