<!DOCTYPE html>

<title>Avis index</title>

{% block body %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idavis</th>
                <th>Idc</th>
                <th>Idf</th>
                <th>Nbetoile</th>
                <th>Commentaire</th>
                <th>Moyenneavis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.idavis }}</td>
                <td>{{ avi.idc }}</td>
                <td>{{ avi.idf }}</td>
                <td>{{ avi.nbetoile }}</td>
                <td>{{ avi.commentaire }}</td>
                <td>{{ avi.moyenneavis }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'idavis': avi.idavis}) }}">show</a>
                    <a href="{{ path('app_avis_edit', {'idavis': avi.idavis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Create new</a>
{% endblock %}
