{% extends 'baseBackOffice.html.twig' %}


{% block backContainer  %}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Détails Produit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{path('affichage_Produits')}}">Produits</a></li>
              <li class="breadcrumb-item active">Détails Produit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              
              <div class="col-12">
                <img src="{{ asset('uploads/'~ produit.image) }}" class="product-image" alt="Product Image">
              </div>
             
            </div>
            <div class="col-12 col-sm-6">
              <h3 class="my-3">{{produit.Designation}}</h3>
              <p>{{produit.Description}}</p>

              <hr>

              <div class="bg-gray py-2 px-3 mt-4">
                <h2 class="mb-0">
                  Prix Unitaire D'achat :
                </h2>
                <h4 class="mt-0">
                  <small>{{produit.prixAchatUnit}} DT </small>
                </h4>
              </div>

              <hr>

              <div class="bg-gray py-2 px-3 mt-4">
                <h2 class="mb-0">
                  Prix Unitaire De Vente :
                </h2>
                <h4 class="mt-0">
                  <small>{{produit.prixVenteUnit}} DT</small>
                </h4>
              </div>

              <hr>

              <div class="bg-gray py-2 px-3 mt-4">
                <h2 class="mb-0">
                  Quantité En Stock :
                </h2>
                <h4 class="mt-0">
                  <small>{{produit.QuantiteEnStock}} Unités</small>
                </h4>
              </div>

            </div>
          </div>
     
    

    </section>
   


{% endblock %}