{% extends 'baseBackOffice.html.twig'%}
    {% block backContainer %}
        
        {% for d in mesdemandes %}
        <div>{{d.iddev}}</div>
        <div>{{d.idsp}}</div>
        <div>{{d.eataaccept}}</div>
        <div>{{d.description}}</div>
        <div>{{d.paquet}}</div>
        {% endfor %}
{% endblock %} 