{% extends 'RealisateurBackOffice.html.twig' %}
{% block backContainer %}
<link rel="stylesheet" href="{{ asset('dist/css/film/filmAdmin.css') }}">
<section class="content">
<div class="container ">
<h1>Ajouter une demande: </h1>
{{ form_start(form,{'attr':{'novalidate':'novalidate' }}) }}
    <div>  {{ form_widget(form) }} </div>
   

  <div class="card-tools"><button class="btn btn-danger"  style="width: 50%">{{ button_label|default('Ajouter') }}</button></div>

       {{ form_end(form) }}
    
       
    </div>
    </section>
{% endblock %}