{% extends 'baseBackOffice.html.twig'%}
    {% block backContainer %}
        <style>
          .content-table{
                border-collapse: collapse;
                margin: 25px 0;
                font-size: 0.9em;
                min-width: 400px;
                border-radius: 5px 5px 0 0;
                overflow: scroll;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
                text-align: center;
                margin-left: auto;
    margin-right: auto;
              }
              
              .content-table thead tr {
                background-color: #D10000;
                color: #ffffff;
                text-align: left;
                font-weight: bold;
              }
              
              .content-table th,
              .content-table td {
                padding: 12px 15px;
              }
              
              .content-table tbody tr {
                border-bottom: 1px solid #dddddd;
              }
              
              .content-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
              }
              
              .content-table tbody tr:last-of-type {
                border-bottom: 2px solid #D10000;
              }
              
              .content-table tbody tr.active-row {
                font-weight: bold;
                color: #D10000;
                
              }
              .heads{
            position: sticky;}
            .navigation{
              display: flex;
              align-items: center;
              justify-content: center;
              color: black;
            }
            .center {
              display: flex;
}
            
        </style>
        <h1>Liste des evenements</h1>
        <header>
          
        </header>
    <section>
<table class="content-table">
    <thead>
    <tr>
    <th>Nom de l'evenement</th>
    <th>Nom de réalisateur</th>
    <th>Durée</th>
    <th>Etat d'acceptation</th>
    <th>Montant proposé</th>
    
    
    </tr>  
    </thead>
    <tbody>
        
    <tr {% for e in eve %}>
        <td>  {{e.nomev}} </td>
        <td>{{e.numrea.nomorg}} </td>
        <td>{{e.duree}}</td>
        <td>{{e.etat}} </td>
        <td>{{e.montant}} </td>
        <td>
          {% if e.etat == "En attente" %}
            <a href="{{ path("accepterE",{"id":e.idev}) }}"><img src = "../dist/img/k.png" width="20" height="30"></a>
            <a href="{{ path("refuserE",{"id":e.idev}) }}"><img src="../dist/img/x.png"></a>
          {% elseif e.etat == "Accepté" %}
            <a href="{{ path("detailE",{"id":e.idev}) }}"><img src="../dist/img/datail.png"></a>
            <a href="{{ path("refuserE",{"id":e.idev}) }}"><img src="../dist/img/x.png"></a>
          {% elseif e.etat == "Refusé"%}
            <a href="{{ path("detailE",{"id":e.idev}) }}"><img src="../dist/img/datail.png"></a>
            <a href="{{ path("accepterE",{"id":e.idev}) }}"><img src = "../dist/img/k.png" width="20" height="30"></a>
          {% endif %}
        
          </td>
          
    </tr {% endfor %}>
    
    </tbody>
  </table>
  <div >
     {#{knp_pagination_render(eve)}#}
     {{ knp_pagination_render(
      eve,
      '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
      {
          'queryParam1': 'param1 value',
          'queryParam2': 'param2 value'
      },
      {
          'viewParam1': 'param1 value',
          'viewParam2': 'param2 value'
      },
      {'align': 'center',
      'size': 'large',
      'rounded': true,}
  ) }}     
  
    </div>
    </section>
    
{% endblock %} 