{% extends 'baseFrontOffice.html.twig'%}
    {% block frontContainer %} 

            <h2>Enrechir le festival en proposant un évenement</h2>
            {{form_start (form)}}
            {{form_errors (form)}}
            <div class "form-group">
                {{ form_row (form.nomev , {'label' : "Nom de l'évenement :"})}} 
                
            </div>
            <div class "form-group">
                {{ form_row (form.description , {'label' : "Ajouter une description :"})}}
            </div>
            <div class "form-group">
                {{ form_row (form.montant , {'label' : "Montant de sponsoring proposé :"})}}    
            </div>
            <div class "form-group">
                {{ form_row (form.duree , {'label' : "Durée de l'evenement en minute :"})}}
            </div>
            <div class "form-group">
            <button type="submit" class= "btn btn-dark">Envoyer demande</button>
            <p></p>
            <INPUT TYPE="reset"  VALUE=" Annuler demande"  class= "btn btn-dark">
            </div>
            {{form_end (form)}}
            
        {% endblock %}
