{% extends 'sponsFrontOffice.html.twig'%}
    {% block frontContainer %}
                <style>
                    
                    .content-table{
                        border-collapse: collapse;
                        margin: 25px 0;
                        font-size: 0.9em;
                        min-width: 400px;
                        border-radius: 5px 5px 0 0;
                        overflow: scroll;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
                        text-align: center;
                        margin-left: auto;
            margin-right: auto;
                      }
                      
                      .content-table thead tr {
                        background-color: ;
                        color: blue;
                        text-align: left;
                        font-weight: bold;
                      }
                      
                      .content-table th,
                      .content-table td {
                        padding: 12px 15px;
                      }
                      
                      .content-table tbody tr {
                        border-bottom: 1px solid #dddddd;
                      }
                      
                      .content-table tbody tr:nth-of-type(even) {
                        background-color: #f3f3f3;
                      }
                      
                      .content-table tbody tr:last-of-type {
                        border-bottom: 2px solid #D10000;
                      }
                      
                      .content-table tbody tr.active-row {
                        font-weight: bold;
                        color: #D10000;
                        
                      }
                </style> 
                <header class = "heads">   
            <h1>Liste de vos demande</h1> 
            
        <table class ="content-table" >
            <tr>
            <thead>
                <th>Id de l'evenement</th>
            <th>Nom de l'evenement</th>
            <th>Etat d'acceptation</th>
            <th>Paquet demandé</th>
            <th>Description de votre demande</th>
            
                
            </tr> 
            
            <tr{% for d in demande %}>
        <td>{{d.idev.idev}}</td>
        <td>{{d.idev.nomev}}</td>
        <td>{{d.etataccept}}</td>
        <td>{{d.paquet}}</td>
        <td>{{d.description}}</td>
        
            </tr {% endfor %}> 
        </table> 
{% endblock %} 