{% extends 'sponsFrontOffice.html.twig'%}
    {% block frontContainer %}
        
        {% block body %} 
            <h2>Devenir partenaire et sponsoriser l'evenement : </h2>
           {{form_start (form)}}
            <div class "form-group">
                <label for ="">Ajouter une description :</label>
                {{form_widget (form.description)}}
                {{ form_row (form.description)}}
            </div>
            <div class "form-group">
                <label for ="">Paquet :</label>
                {{form_widget (form.paquet)}}
                {{ form_row (form.paquet)}}    
            </div>
            
            <div class "form-group">
             
              {#<button type="submit" class= "btn btn-dark">Envoyer demande</button>#}
              <p></p>
              <button type="submit" class= "btn btn-dark">Envoyer demande</button>
              
              <input type="reset"  value=" Annuler demande"  class= "btn btn-dark">
              </div>
            {{form_end (form)}}
            
        {% endblock %}
    {% endblock %} 