{% extends 'base-back.html.twig' %}
{% block body %}
<h1> liste Client  </h1> 


<td><a href="/ajouterClient"> Ajouter Client</a> </td>
<table class="table">
        <thead>
            <tr>
          
         <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
      <th> taille</th>
       <th> poid</th>
        <th> tel</th>
        <th></th>
            <th> Action</th>
    
         <td></td>
          <td></td>
           <td></td>
            </tr>
        </thead>
        <tbody>
{% for client in clients %}
{% if client.role == "Client"  or client.role == "Client_Bloque" %}
<tr>
<td> {{client.nom}} </td>
<td> {{client.prenom}}  </td>
<td> {{client.email}}  </td>
<td> {{client.taille}}  </td>
<td> {{client.poid}}  </td>
<td>{{client.tel}}</td>


<td>

<form method="post" action="{{path('modifierClient',{'id':client.id})}}" >
    <button class="btn btn-info">Modifier</button>
</form>
</td>
<td>
{% if client.role == "Client"%}
<form method="post" onclick="window.location.href='/bloqueclient/{{client.email}}'"onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn-danger">BLoque </button>
</form>
{% endif %}
{% if client.role == "Client_Bloque"%}
<form method="post" onclick="window.location.href='/debloqueclient/{{client.email}}'"onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn-danger">debloque </button>
</form>
{% endif %}
</td>




</tr>
      {% endif %}
        {% endfor %}
        </tbody> </table>
     {{ knp_pagination_render(clients) }}
    




{% endblock %}