<!DOCTYPE html>

<title>Demandedesponsoring index</title>

{% block body %}
    <h1>Demandedesponsoring index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Iddemande</th>
                <th>Etataccept</th>
                <th>Description</th>
                <th>Paquet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandedesponsoring in demandedesponsorings %}
            <tr>
                <td>{{ demandedesponsoring.iddemande }}</td>
                <td>{{ demandedesponsoring.etataccept }}</td>
                <td>{{ demandedesponsoring.description }}</td>
                <td>{{ demandedesponsoring.paquet }}</td>
                <td>
                    <a href="{{ path('app_demandedesponsoring_controller_copy_show', {'iddemande': demandedesponsoring.iddemande}) }}">show</a>
                    <a href="{{ path('app_demandedesponsoring_controller_copy_edit', {'iddemande': demandedesponsoring.iddemande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demandedesponsoring_controller_copy_new') }}">Create new</a>
{% endblock %}
