<!DOCTYPE html>

<title>Demandedesponsoring</title>

{% block body %}
    <h1>Demandedesponsoring</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Iddemande</th>
                <td>{{ demandedesponsoring.iddemande }}</td>
            </tr>
            <tr>
                <th>Etataccept</th>
                <td>{{ demandedesponsoring.etataccept }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demandedesponsoring.description }}</td>
            </tr>
            <tr>
                <th>Paquet</th>
                <td>{{ demandedesponsoring.paquet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demandedesponsoring_controller_copy_index') }}">back to list</a>

    <a href="{{ path('app_demandedesponsoring_controller_copy_edit', {'iddemande': demandedesponsoring.iddemande}) }}">edit</a>

    {{ include('demandedesponsoring_controller_copy/_delete_form.html.twig') }}
{% endblock %}
