{% extends 'baseBackOffice.html.twig'%}
    
    {% block backContainer %} 
        {% block body %} 
            <h1>Modifier salle </h1>
            {{form_start (form)}}
            <div class "form-group">
                <label for ="">Nom de la salle :</label>
                {{form_errors (form.nomsalle)}}
                {{form_widget (form.nomsalle)}}
            </div>
            <div class "form-group">
                <label for ="">La capacité de la salle :</label>
                {{form_errors (form.capacite)}}
                {{form_widget (form.capacite)}}
            </div>
            <div class "form-group">
                <label for ="">Sa date de maintenance :</label>
                {{form_errors (form.datedemaintenance)}}
                {{form_widget (form.datedemaintenance)}}
            </div>
            <div class "form-group">
                <label for ="">Son état de maintenance :</label>
                {{form_row (form.enmaintenance,  { 'label': 'En maintenance' })}}
                
            </div>{{form_end (form)}}
            
            
        {% endblock %}
    {% endblock %} 




{#{% extends 'baseBackOffice.html.twig'%}
{%block title%}Modifier la salle {% endblock %}
    {% block backContainer %}
        <section id="salleAff" class="content-wrapper align-items-center">
            <div class = "content">
                {{form (form)}}
                <button type="submit" class= "btn-enregistrement">Modifier salle</button>
            <INPUT TYPE="reset" NAME="nom" VALUE=" Annuler ">
                </div>
            {% endblock %} #}