<!DOCTYPE html>
<html>
    <head>
 <title>{% block title %}Welcome!{% endblock %}</title>
 
        <meta charset="utf-8">
        

       <!--CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
  
        <link rel="stylesheet" href="{{ asset('assets/css/upload.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/myboot.css') }}">
         <link rel="stylesheet" href="{{ asset('assets/css/tablestyle.css') }}">
         
        <!--BOOTSTRAP-->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
     <!-- ===== BOX ICONS ===== -->
        <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">


<style>
.form__button_annul{
  display: block;
  margin-left: auto;
  margin-top: 1.5rem;
  margin-bottom: 0.9rem;
  padding: 0.2rem ;
  outline: none;
  
  
  background-color: #EDF3FE;
  color: #035EFF;
  font-size: var(--normal-font-size);
  border-radius: .2rem;
  cursor: pointer;
  transition: .3s;
}
.form__button_annul:hover{
  background-color: var(--first-color);
  color: #fff;
  border: 0.2px solid #035EFF;
}



</style>
   <style>
.form__button_supp{
  display: block;
  margin-left: auto;
  margin-top: 1.5rem;
  margin-bottom: 0.9rem;
  padding: 0.2rem;
  outline: none;
  background-color: #FDEAE4;
  color: #FF4914;
  font-size: var(--normal-font-size);
  border-radius: .2rem;
  cursor: pointer;
  transition: .3s;
  border: 0.2px solid #FF4914;
}
.form__button_supp:hover{
  background-color: #FF4914;
  color: #fff;
  border: 0.2px solid #FF4914;
}
</style>
        <title>Gérance Informatique</title>
    </head>

      <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
         
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                 



                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <img src="back-office/img/logoa.png"  style="width: 100px; height: 100px;"  alt="">
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="back-office/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{ app.user.nom }} {{ app.user.prenom }}</h6>
                        <span>{{app.user.role}}</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/statistique" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>statistique</a>
                    
                     <a href="/listClient" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Client</a>
                      <a href="/agent" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Agent</a>
                      <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Agents</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/listCoach" class="dropdown-item">Coatch</a>
                            <a href="/listNutritionniste" class="dropdown-item">Nutritionniste</a>
                          
                        </div>
                    </div>
                       <a href="/listProduit" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Produit</a>
                        <a href="/listEvenement" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Evenement</a>
                         <a href="/listProgramme" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Programme</a>
                          <a href="/listRegime" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Regime</a>
                           <a href="/listRegime" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Forum</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="back-office/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="back-office/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="back-office/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="back-office/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="/profil" class="dropdown-item">Profil</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

        

{% block body %}{% endblock %}
       
        
       
       
        <script src="{{ asset('assets/js/main.js') }} "></script>  
        <script src="{{ asset('assets/js/mainSH.js') }} "></script> 
        <script src="{{ asset('assets/js/upload.js') }} "></script> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <script src="{{ asset('assets/js/chart.min.js') }} "></script> 


       
        
         </body>

               
   
    
    
</html>
