{% extends 'base-back.html.twig' %}
{% block body %}
<h1> liste Coach  </h1> 


<td><a href="/ajouterCoach"> Ajouter Coach</a> </td>





<table class="table">
        <thead>
            <tr>
          
         <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
      <th>  Niveau</th>
    
         <td></td>
          <td></td>
           <td></td>
            </tr>
        </thead>
        <tbody>
    {% for coach in coachs %}
{% if coach.role == "coach" %}
<tr>
<td> {{coach.nom}} </td>
<td> {{coach.prenom}} </td>
<td> {{coach.email}}  </td>
<td> {{coach.niveau}}  </td>

<td>
<form method="post" action="{{path('modifierCoach',{'id':coach.id})}}" >
    <button class="btn btn-info">Modifier</button>
</form>
</td>
<td>
<form method="post" action="{{path('deleteCoach',{'id':coach.id})}}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn-danger">Supprimer</button>
</form>

</td>




</tr>
      {% endif %}
        {% endfor %}
        </tbody>
  


{% endblock %}