{% extends 'base-front.html.twig' %}

{% block title %}A domifit | Produits{% endblock %}

{% block body %}
 <!-- Breadcrumb Section Begin -->
   
    <!-- Breadcrumb Section End -->

    <!-- Team Section Begin -->
    
    <section class="team-section team-page spad">
        <div class="container">
          <div class="row">
          <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Details</span>
                            <h2>TRAIN WITH {{coach.nom}} {{coach.prenom}}</h2>
                        </div>
                        <a href="#" class="primary-btn btn-normal appoinment-btn">list Programme</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="ts-item set-bg" data-setbg="{{ vich_uploader_asset(coach, 'imageFile')  }}">
                        <div class="ts_text">
                            <h4>{{coach.nom}}</h4>
                            <span>{{coach.role}}</span>
                            <div class="tt_social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa  fa-envelope-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="leave-comment">
                        
                            <h4  style="color:white">eaefae</h4>
                            <style>       
      hr{
        height: 3px;
        background-color: #f36100;
        border: none;
      }
    </style>
                            <hr>
                             <h4  style="color:white" > Nom : {{coach.nom}}    </h4>
                              <hr>
                              <h4  style="color:white">Prenom :{{coach.prenom}}</h4>
                               <hr>
                              <h4  style="color:white">Email : {{coach.email}}</h4>
                               <hr>
                               <h4  style="color:white" > Niveau :{{coach.niveau}}</h4>
                                <hr>
                                    <h4  style="color:white" >{{coach.nom}}</h4>
                                
                           
                           
                        
                    </div>
                </div>
            </div>
                
               
                
              
               
            </div>
        </div>
    </section>
    <!-- Team Section End -->
{% endblock %}
