{% extends 'baseBackOffice.html.twig' %}



{% block backContainer %}
     <center><h1>Liste des comptes</h1></center>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#rech tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search"><br><br>
    
      
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="rech">
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.username }}</td>
                <td>{{ compte.nom }}</td>
                <td>{{ compte.prenom }}</td>
                <td>{{ compte.mail }}</td>
                <td>{{ compte.password }}</td>
                <td>{{ compte.roles ? compte.roles|json_encode : '' }}</td>
                <td>{{ compte.image }}</td>
                <td>
                    <a href="{{ path('app_compte_show', {'username': compte.username}) }}"><button type="button" class="btn btn-secondary mb-2">Détails</button></a>
                    
                    <a href="{{ path('app_compte_delete', {'username': compte.username}) }}"<button type="button" class="btn btn-danger mb-2">Désactiver</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
    

    
{% endblock %}
