

{% extends 'baseBackOffice.html.twig' %}



{% block backContainer %}
    <center><h1>Compte N° : {{ compte.username }}</h1></center>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ compte.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ compte.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ compte.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ compte.mail }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ compte.password }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ compte.roles ? compte.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ compte.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_compte_index') }}"><button type="button" class="btn btn-primary mb-2">Retourner</button></a>

    

    {{ include('compte/_delete_form.html.twig') }}
{% endblock %}
