<!DOCTYPE html>
<html>
    <style>
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
    
        a {
            color: #0087C3;
            text-decoration: none;
        }
    
        body {
            position: relative;
            width: 21cm;
            height: 29.7cm;
            margin: 0 auto;
            color: #555555;
            background: #FFFFFF;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-family: SourceSansPro;
        }
    
        header {
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #AAAAAA;
        }
    
        #logo {
            float: left;
            margin-top: revert;
        }
    
        #logo img {
            height: 70px;
        }
    
        #company {
            float: right;
            text-align: right;
            padding-right: 80px;
            padding-left: 80px;
        }
    
    
        #details {
            padding-right: 80px;
            padding-left: 80px;
        }
    
        #client {
            padding-left: 6px;
            border-left: 6px solid #0087C3;
            float: left;
        }
    
        #client .to {
            color: #777777;
        }
    
        h2.name {
            font-size: 1.4em;
            font-weight: normal;
            margin: 0;
        }
    
        #invoice {
            float: right;
            text-align: right;
            padding-right: 80px;
    
        }
    
        #invoice h1 {
            color: #0087C3;
            font-size: 1.4em;
            line-height: 1em;
            font-weight: normal;
            margin: 0  0 10px 0;
        }
    
        #invoice .date {
            font-size: 1.1em;
            color: #777777;
        }
    
        #able {
            width: 100%;
            padding: revert;
    
            margin-bottom: 20px;
        }
    
        table th,
        table td {
            padding: 20px;
            background: #EEEEEE;
            text-align: center;
            border-bottom: 1px solid #FFFFFF;
        }
    
        table th {
            white-space: nowrap;
            font-weight: normal;
        }
    
        table td {
            text-align: right;
        }
    
        table td h3{
            color: #57B223;
            font-size: 1.2em;
            font-weight: normal;
            margin: 0 0 0.2em 0;
        }
    
        table .no {
            color: #FFFFFF;
            font-size: 1.6em;
            background: #57B223;
        }
    
        table .desc {
            text-align: left;
        }
    
        table .unit {
            background: #DDDDDD;
        }
    
        table .qty {
        }
    
        table .total {
            background: #57B223;
            color: #FFFFFF;
        }
    
        table td.unit,
        table td.qty,
        table td.total {
            font-size: 1.2em;
        }
    
        table tbody tr:last-child td {
            border: none;
        }
    
        table tfoot td {
            padding: 10px 20px;
            background: #FFFFFF;
            border-bottom: none;
            font-size: 1.2em;
            white-space: nowrap;
            border-top: 1px solid #AAAAAA;
        }
    
        table tfoot tr:first-child td {
            border-top: none;
        }
    
        table tfoot tr:last-child td {
            color: #57B223;
            font-size: 1.4em;
            border-top: 1px solid #57B223;
    
        }
    
        table tfoot tr td:first-child {
            border: none;
        }
    
        #thanks{
            font-size: 2em;
            margin-bottom: 50px;
        }
    
        #notices{
            padding-left: 6px;
            border-left: 6px solid #0087C3;
        }
    
        #notices .notice {
            font-size: 1.2em;
        }
    
        footer {
            color: #777777;
            width: 100%;
            height: 30px;
            position: absolute;
            border-top: 1px solid #AAAAAA;
            padding: 2px 0;
            text-align: center;
          margin-right: initial;
        }
    
    
    </style>
<head>
    <meta charset="UTF-8">
    <title>CinePro</title>
</head>
<body>
<header>
    <header class="clearfix">
       
        <div id="company">
            <h2 class="name">JCC</h2>
            <div>Esprit,ariena esoghra</div>
            <div>23736291</div>
            <div><a href="mailto:company@example.com">JCC@esprit.tn</a></div>
        </div>
        </div>
    </header>
</header>

<main>
    <div class="container text-center">


        <h1>Liste des Publications de chaque presse</h1>
       
        <table class="table">
            <thead>
            <tr>
              <th>IdPresse</th>
                <th>IdPub</th>
                <th>Titre</th>
                <th>Date de création </th>
                
      
                <th>Description</th>
                <th>Archive</th>

            </tr>
            </thead>
            <tbody>
      
       {% for pub in pub %} 
                      <tr>
                        <td>{{ pub.idpresse }}</td>

                          <td>{{ pub.idpub }}</td>
                          <td>{{ pub.titre }}</td>
                          <td>  Ecrit le {{pub.datecreationpub | date('d/m/y')}} à {{pub.datecreationpub | date('H:i')}}</td>

                          <td>{{ pub.txtpub }}</td>
                          <td>{{ pub.archive }}</td>
      
                          
                      </tr>
                  
       {% endfor %}
       
       
      </tbody>
      </table>
      
      
      </div>
</main>



</body>
</html>

