{% extends 'base-back.html.twig' %}
{% block body %}
<h1> liste Nutritionniste  </h1> 


<td><a href="/ajouterNutritionniste"> Ajouter Nutritionniste</a> </td>




<table class="table">
        <thead>
            <tr>
          
         <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
      <th>  Niveau</th>
    
         <td></td>
          <td></td>
           <td></td>
            </tr>
        </thead>
        <tbody>
      {% for nutritionniste in nutritionnistes %}
{% if nutritionniste.role == "nutritionniste" %}
<tr>
<td>{{nutritionniste.nom}}</td>
<td>{{nutritionniste.prenom}}</td>
<td>{{nutritionniste.email}}</td>
<td>{{nutritionniste.niveau}}</td>

<td>
<form method="post" action="{{path('modifierNutritionniste',{'id':nutritionniste.id})}}" >
    <button class="btn btn-info">Modifier</button>
</form>
</td>
<td>
<form method="post" action="{{path('deleteNutritionniste',{'id':nutritionniste.id})}}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn-danger">Supprimer</button>
</form>

</td>




</tr>
      {% endif %}
        {% endfor %}
        </tbody>
  

{% endblock %}