{% extends 'pressepub/index.html.twig' %}

{% block presseContainer %}

<link rel="stylesheet" href="{{ asset('dist/css/publication/liste.css') }}"> 

<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
 <!-- Main content -->
 <section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="../../dist/img/jcc.png"
                   alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">Festival de carthage JCC</h3>

            


           
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">A propos du JCC</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted">Tunisie</p>

            <hr>

            <strong><i class="fas fa-pencil-alt mr-1"></i> description</strong>

            <p class="text-muted">
              Le Festival du film de Carthage (CFF) est un festival de cinéma qui se déroule à Tunis . Plus souvent connue en Tunisie et en Europe par l'abréviation JCC , de son nom français, Journées cinématographiques de Carthage , ou par son titre arabe, أيام قرطاج السينمائية (littéralement, Journées du cinéma de Carthage ), elle a été créée en 1966. [1] Elle est à ce jour la plus ancienne manifestation du genre encore active en Afrique. Initialement biennale en alternance avec le Festival de Théâtre de Carthage, il est devenu annuel en 2014. Un comité directeur présidé par le ministère tunisien de la Culture, associé à des professionnels du cinéma, est en charge de l'organisation.

Le Festival du Film de Carthage a été conçu comme un festival de cinéma engagé dans la cause des pays africains et arabes et valorisant le cinéma du Sud en général.
            </p>

            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
             
          </div><!-- /.card-header -->
          {#<script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
          <script type="text/javascript">
            jQuery(document).ready(function() {
                var searchRequest = null;
                $("#search").keyup(function() {
                    var minlength = 1;
                    var that = this;
                    var value = $(this).val();
                    var entitySelector = $("#entitiesNav").html('');
                    if (value.length >= minlength ) {
                        if (searchRequest != null)
                            searchRequest.abort();
                        searchRequest = $.ajax({
                            type: "GET",
                            url: "{{ path('ajax_search') }}",
                            data: {
                                'q' : value
                            },
                            dataType: "text",
                            success: function(msg){
                                //we need to check if the value is the same
                                if (value===$(that).val()) {
                                    var result = JSON.parse(msg);
                                    $.each(result, function(key, arr) {
                                        $.each(arr, function(idpub, value) {
                                            if (key === 'posts') {
                                                if (idpub !== 'error') {
                                                    console.log(value[1]);
                                                    entitySelector.append('<li><b>'+value[1]+'</b><a href="/detailedpost/'+idpub +'</a></li>');
                                                } else {
                                                    entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                }
                                            }
                                        });
                                    });
                                }
                            }
                        });
                    }
                });
            });
        </script>#}
          <div class="active tab-pane" id="activity">

          {% for pub in publications %} 
          <div class="blog-card">
            <div class="meta">
              
                <img src="{{ asset('uploads/' ~ pub.imgpub) }}" alt="image" />
                
              <ul class="details">
                <li class="date">Ecrit le {{pub.datecreationpub | date('d/m/y')}} à {{pub.datecreationpub | date('H:i')}}</li>
                
              </ul>
            </div>
            <div class="description">
              <h1>{{pub.titre}}</h1>
              
              <p>{{pub.txtpub}}</p>
              
              
                <a href="{{ path('supprimerPub', {'id':pub.idpub}) }}" class="btn btn-block btn-outline-dark btn-flat">Supprimer</a> 
                  
                  <a href="{{ path('modifierPub', {'id':pub.idpub}) }}" class="btn btn-block btn-outline-dark btn-flat">modifier</a> 

                  <a href="{{ path('archiverPub', {'id':pub.idpub}) }}" class="btn btn-block btn-outline-dark btn-flatt">archiver</a>  

                </div>
          </div>
          {% endfor %}
          </div>
              <!-- /.tab-pane -->
             
              <!-- /.tab-pane -->

              
              <!-- /.tab-pane -->
              
              

            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->

</section>
<!-- /.content -->
</div>
{{ knp_pagination_render(publications) }}

<script src="//code.jquery.com/jquery.js"></script>
 
{% endblock %}